

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  /* background: #10101a; */
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
scroll-behavior: smooth;
}

header{
  position: fixed;width: 100%;
  top:0;
  right:0;
  z-index:1000;
  display: flex;
  align-items: center;
  justify-content:space-between;
  background: #10101a;
  padding:24px 14%;
  transition: 3s;

}
.logo{
  color:#fff;
  font-size: 1.8rem;
  font-weight: 600;
}
span{
  color:#2fbf71;

}
.navbar{
   display:flex;
}
.navbar a{
  color:#fff;
  font-size: 1rem;
  padding:10px 20px;
  font-weight: 500;

}
.navbar a:hover{
  background:#2fbf71;
  transition: .3s;
}

#menu-icon{
  font-size: 28px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
section{
  padding:120px 14%;
background-color:#10101a ;
}
.home{
  background-image: url(homes.jpg);
  opacity: 0.9; 
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  /* display: grid; */
  /* grid-template-columns: repeat(2,1fr); */
  align-items: center;

}
.home-text h4{
  color:#fff;
  
  font-size:25px;
  font-weight:500;
  margin:0 0 20px;

}
form .cv_btn{
  background:#2fbf71;
  color:#fff;
box-shadow: 4px 4px #fff;
padding:0 25px;
line-height: 42px;
display: inline-block;
border:1px solid transparent;
font-size: 14px;
font-weight: 400;
letter-spacing: 2px;
transition:ease all 0.35s;
width:100%;
}
form .cv_btn:hover{
  background:#fff;
  color:#2fbf71;
  box-shadow: 4px 4px #2fbf71;
}
.home-text h1{
  font-size: var(--big-font);
  color:#fff;
  font-weight: 700;
  line-height: 1;
  margin:0 0 20px;
}

.home-text h5{
  color :#fff;
  font-size:18px;
  font-weight: 500px;
  margin-bottom: 25px;
}
.home-text p{
  max-width: 470px;
  font-size: var(--p-font);
  color:darkgrey;
  line-height: 2rem;
  margin-bottom:1.5rem;

}
:root{
--big-font:5rem;
--h2-font:1.9;
--p-font:1rem;

}


#skills{
background:linear-gradient(to bottom,#C9BBCF,white);

}
.skills{
display:flex;
flex-wrap: wrap;
/* background: #10101a; */
justify-content: space-between;
flex-direction: row;
text-align: center;
}

#skills h1{
  font-size: 3rem;
  color:black;
  text-align: center;

}

.skills-img img{
  width: 200px;
  height: 200px;
  margin: 50px 0px;
}
.skills-img img:hover{
  transform : scale(1.08,1.08);
}

.skills-text h3{
  color:black;
  font-size: 30px;
  font-weight: 300px;
  letter-spacing: 6px;
  margin: 0 0 30px;
}


#about{
  height: 100%;
}
.about{
  display: grid;
   
  background:linear-gradient(to bottom,#CED89E,white);
  grid-template-columns: repeat(2,2fr);
  grid-gap:5rem;
  align-items: center;
  

}
.about-img img{
  max-width: 100%;
  width: 580px;
  height: auto;
}
.about-text h3{
  color:#0b0b13;
  font-size: 30px;
  font-weight: 300px;
  letter-spacing: 6px;
  margin: 0 0 30px;


}

.about-text h2{
  color:#0b0b13;
  max-width: 570px;
  font-size: var(--p-font);
  font-weight: 300;
  margin-bottom: 1.5rem;
  line-height: 1.8rem;
}

.contact{
  width: 100%;
  background: linear-gradient(to bottom,#72FFFF,white);

}
.contact-form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;

}
.contact-form form{
  position: relative;
  width:  550px;
}
.contact h2{
  color: #0b0b13;
}
.oo{
  color:#0b0b13;
  font-size: 40px;
}
form input, form textarea{
  width:100%;
  padding:20px;
  border: none;
  outline:none;
  background :#0b0b13;
  color:#fff;
  margin-bottom: 0.5rem;
  border-radius:5px;
}

form input::placeholder,
form textarea::placeholder{
  color:var(--2-main-color);
}

textarea{
  resize:none;
  height: 200px;
}
form .send-btn{
  background:#00D7FF;
color:#fff;
box-shadow: 4px 4px #fff;
padding:0 25px;
line-height: 42px;
display: inline-block;
border:1px solid transparent;
font-size: 14px;
font-weight: 400;
letter-spacing: 2px;
transition:ease all 0.35s;
width:100%;
}
form .send-btn:hover{
  background: black;
  color:#00D7FF;
  box-shadow: 4px 4px #00D7FF;
}
.copyright{
  text-align:center;
  padding:30px;
  color:#fff;
  /* margin-top: 3rem; */
  background: #0b0b13;
  background-color:#0b0b13;
  line-height: 1.8rem;;

}
.oo{
  color:#0b0b13;
  font-size: 40px;
}

.box{
text-align:center;
justify-content: space-between;
}
.icon{
  margin-right: 15px;
  color: #f9004d;
}
.h:hover{
  cursor: pointer;
  font-size: 90px;
  color:#2fbf71;
  transition:all 0.5s ;

}